*{
	font-family:"微软雅黑";
}

#copyright p{
	color:#FFF;
	font-size:14px;
	font-weight:bold;
	text-align: center;
	padding:10px 0px;
	margin:0px;
	letter-spacing:0.2em;
}

#copyright a{
	display:inline-block;
	height:32px;
	line-height:32px;
	text-decoration: none;
	color:#FFF;
	font-size:14px;
	font-weight:bold;
	padding-left:30px;
	background:url("../images/yc2.ico") no-repeat left center;
}

#newslogo{
	background:#4D89BB url("../images/logo.gif") no-repeat 10px center;
	background-size:300px 90px;
	padding:0px;
	margin:0px;
	height:100px;
}
#newslogo ul,#newslogo li{
	list-style: none;
	margin:0px;
	padding:0px;
}
#newslogo ul{
	position:absolute;
	bottom:8px;
	right:20px;
}
#newslogo li{
	float:left;
	padding-left: 20px;
	height:25px;
	line-height: 25px;
}
#newslogo li a{
	color:#fff;
	font-family: "微软雅黑";
	font-size: 19px;
}
ul,li{
	list-style: none;
}